.footer {
  background-color: gray;
  &-menu {
    background-color: var(--basic-green);
    color: white;
    display: flex;
    justify-content: space-around;
    &__item {
      background-color: orange;
      color: black
    }
  }
}
