.parameters {
  padding: 0;
  margin: 0;
}

.parameters__list {
  margin: 0;
  margin-bottom: 11px;
}

.parameters__item {
  margin: 0;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
}
