@import "variables.scss";
@import "global.scss";

@import "blocks/page-header.scss";
@import "blocks/logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";


@import "blocks/slider.scss";

@import "blocks/page-main.scss";
@import "blocks/functional-nutrition.scss";
@import "blocks/purpose.scss";
@import "blocks/metodology.scss";


















@import "blocks/footer-location.scss";
@import "blocks/footer-address.scss";

@import "blocks/footer-map.scss";
@import "blocks/contacts.scss";
@import "blocks/logo-text.scss";
@import "blocks/socials.scss";
@import "blocks/developer.scss";
