
$basic-white: #ffffff;
$basic-black: #000000;

$basic-gray: #F2F2F2;
$second-gray: #C4C4C4;
$third-gray: #CDCDCD;
$again-gray: #D9D9D9;
$again-gray-2:#EAEAEA;
$again-gray-3: #D3D3D3;
$again-gray-4: #EBEBEB;
$dark-gray: #444444;

$basic-green: #68B738;

$basic-green-2: #5EAA2F;
